extends layout

block content
    .container
        .row
            h1 Results: 49ers - #{counts.SF} | Seahawks - #{counts.SEA}
        
        .row.col-lg-7.col-md-7
            table.table.table-striped
                    tbody
                        each vote in votes
                            tr
                                td.col-lg-3.col-md-3 #{vote.date}
                                td.col-lg-2.col-md-2 #{vote.username}
                                td.col-lg-2.col-md-2 #{vote.vote}